/* TravelBuddy Custom styling */
#root {
  height: 100%;
}
#main {
  height: 100%;
}
#main-wrapper {
  height: 100%;
}
/* Space out content a bit */
body {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  /*padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;*/
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* RegistrationForm Component */
.register {
  position: relative;
  margin: auto;
  width: 500px;
}
  .register .block {
    display: flex;
  }
  .register .form-horizontal .has-feedback .form-control-feedback {
    top: 25px;
    right: 0;
  }
  .register .btn.btn-primary {
    width: 50%;
    margin: auto;
    position: relative;
  }
  .register .btn-group .btn-default {
    padding: 6px 20px;
  }
  .register input {
    color: #fff;
  }
  .register button[type=submit] {
    display: block;
  }
/* WelcomeWizardForm Component */
.form-welcome-wizard {
  width: 70%;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 6px;
}
  .form-welcome-wizard input,
  .form-welcome-wizard textarea {
    color: #fff;
  }
  .form-welcome-wizard textarea {
    max-width: 100%;
    resize: vertical;
  }
  .form-welcome-wizard .textarea-wrapper::after {
    background-color: #222;
  }
  .form-welcome-wizard > p {
    text-align: justify;
    font-weight: 100;
    color: #dedede;
  }
@media (max-width: 991px) {
  .form-welcome-wizard {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .form-welcome-wizard {
    border: 1px solid #222;
    border-radius: 0;
  }
}
/* DatePicker Component */
.YearNavigation {
  color: rgba(0,0,0,0.7);
}
  .YearNavigation .DayPicker-Day--today {
    color: #fff;
    background: #f05f40;
  }
/* PageFooter Component */
footer.footer-app {
  padding: 0;
}
/* FilterForm Component */
.container.filter-form {

}
  .filter-form .panel.panel-default {
    background: #f05f40;
    border: none;
    border-radius: 0;
    margin: 10px 0 15px 0;
  }
  .filter-form .panel .panel-body {
    border-bottom: 1px solid #222;
  }
  .filter-form .btn-filter {
    display: block;
  }
.container.item-list {

}
  .item-list .list-group-item {
    background: rgba(255,255,255,1);
    background: #f05f40;
    /*background: url('../images/product_item_list_placeholder_bg.jpg');*/
    height: 200px;
    margin-bottom: 15px;
    /*display: table;*/
    width: 100%;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .item-list .list-group-item:hover {
    background: #fff;
    color: #dedede;
  }
    .item-list .list-group-item .title,
    .item-list .list-group-item .body,
    .item-list .list-group-item .footer {

    }
    .item-list .list-group-item h3 {
      margin-top: 0;
    }
    .item-list .list-group-item .title {
      margin-top: 0;
      padding: 10px;
      color: #fff;
    }
      .item-list .list-group-item:hover .title {
        color: #dedede;
      }
    .item-list .list-group-item .body {
      margin-top: 0;
      padding: 0 10px;
    }
    .item-list .list-group-item .wrapper-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }
      .item-list .list-group-item .wrapper-overlay span {
        font-size: 5em;
        color: transparent;
        transition: color 0.2s ease;
        line-height: 200px;
      }
      .item-list .list-group-item:hover .wrapper-overlay span {
        color: #f05f40;
      }
    .item-list .list-group-item .footer {
      position: absolute;
      bottom: 0px;
      padding: 10px;
      font-size: 1.3em;
      width: 100%;
      background: #f05f40;
      background: #fff;
      border-bottom: 1px solid #f05f40;
    }
      .item-list .list-group-item .footer span {
        width: 50%;
        display: inline-block;
      }

  .item-list .list-group .col-lg-4 {
    padding-right: 0;
    padding-left: 0;
    /*border-bottom: 1px solid #222;*/
  }
  .item-list .list-group .col-lg-4:nth-child(3n) {
    padding-right: 15px;
    padding-left: 5px;
  }
  .item-list .list-group .col-lg-4:nth-child(3n+1) {
    padding-left: 15px;
    padding-right: 5px;
  }
  .item-list .list-group .col-lg-4:nth-child(3n+2) {
    padding: 0 10px
    /*border: 1px solid #222;
    border-top: none;
    border-bottom: none;*/
  }
/* WelcomeWizardModal Component */
.modal-welcome-wizard .modal-body {
  min-height: 599px;
  background: url('../images/welcome_wizard_bg_low.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.modal-welcome-wizard .modal-body-container p {
  padding-top: 30%;
  color: #fff;
  text-align: justify;
  text-align-last: center;
}
@media (max-width: 767px) {
  .modal-welcome-wizard .modal-body {
    /*width: 100%;*/
    /*padding: 0;*/
    /*border-radius: 0;*/
  }
}
/* ProfilePictureEditor Component */
.modal-create-profile-picture {

}
  .modal-create-profile-picture .modal-footer {
    padding-top: 0;
    text-align: center;
  }
  .modal-create-profile-picture .modal-body .row.range-input {
    padding-top: 15px;
  }
/* LandingPage */
#register .registration-form-container {
  padding-top: 50px;
  margin-top: 50px;
}

/* HomePage */
.homepage {
  height: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: top;
  background-image: url('../images/header.jpg');
}
  .homepage > .gradient-wrapper {
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) -100%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) -100%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) -100%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
  .homepage section.search {
    /*height: 100%;*/
    min-height: 100%;
    padding-bottom: 0;
  }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

/* Custom CSS */
.input-group {
  margin: 20px 0;

}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.weatherItem td:first-of-type {
  height: 200px;
  width: 250px;
}

/*.login-centered {
  padding-top: 10px;
  margin-right: 30px;
  padding-left: 5px;
}

.login-form-element {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.offerButton {
  display: flex;
  justify-content: center;
  margin: 25px auto;
}

.bgwhite {
  background-color: #fff !important;
}

.ident-top {
  margin-top: 50px;
}
.ident-top-sm{
  padding-top:10px;
}

.navbar-brand {
  font-size:1.8em;
}

#topContainer {
  background-image:url("../images/main_logo_low.jpg");
  max-width:inherit;
  height:700px;
  width:100% !important;
  background-size:cover;
}
#topRow {
  margin-top:100px;
  text-align:center;

}
#topRow h1{
  font-size:300%;
}
.bold {
  font-weight:bold;
}
.marginTop {
  margin-top:30px;
}
.center {
  text-align:center;
}
.title {
  margin-top:100px;
  font-size:300%;
}
#footer {
  background-color:#B0D1FB;
  padding-top:70px;
  width:100%;
}
.marginBottom {
  margin-bottom:30px;
}
.appstoreimg {
  width:250px;
}
.width-fix {
  width:inherit;
}

.panel-body {
height:250px;
}
*/
/* necesary for contained modal component*/
/*.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}*/
