/* TravelBuddy Custom styling */
#root {
  height: 100%;
}
#main {
  height: 100%;
}
#main-wrapper {
  height: 100%;
}
/* Space out content a bit */
body {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  /*padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;*/
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* RegistrationForm Component */
.register {
  position: relative;
  margin: auto;
  width: 500px;
}
  .register .block {
    display: flex;
  }
  .register .form-horizontal .has-feedback .form-control-feedback {
    top: 25px;
    right: 0;
  }
  .register .btn.btn-primary {
    width: 50%;
    margin: auto;
    position: relative;
  }
  .register .btn-group .btn-default {
    padding: 6px 20px;
  }
  .register input {
    color: #fff;
  }
  .register button[type=submit] {
    display: block;
  }
/* WelcomeWizardForm Component */
.form-welcome-wizard {
  width: 70%;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 6px;
}
  .form-welcome-wizard input,
  .form-welcome-wizard textarea {
    color: #fff;
  }
  .form-welcome-wizard textarea {
    max-width: 100%;
    resize: vertical;
  }
  .form-welcome-wizard .textarea-wrapper::after {
    background-color: #222;
  }
  .form-welcome-wizard > p {
    text-align: justify;
    font-weight: 100;
    color: #dedede;
  }
  .form-welcome-wizard .has-value.Select--single > .Select-control .Select-value .Select-value-label,
  .form-welcome-wizard .has-value.Select--multi > .Select-control .Select-value .Select-value-label,
  .form-welcome-wizard .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label,
  .form-welcome-wizard .has-value.is-pseudo-focused.Select--multi > .Select-control .Select-value .Select-value-label {
    color: #fff;
  }
@media (max-width: 991px) {
  .form-welcome-wizard {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .form-welcome-wizard {
    border: 1px solid #222;
    border-radius: 0;
  }
}
/* DatePicker Component */
.YearNavigation {
  color: rgba(0,0,0,0.7);
}
  .YearNavigation .DayPicker-Day--today {
    color: #fff;
    background: #f05f40;
  }
/* PageFooter Component */
footer.footer-app {
  padding: 0;
}
/* FilterForm Component */
.filter-form {
  /*padding: inherit 0;*/
}
  .filter-form .panel.panel-default {
    background: #f05f40;
    border: none;
    border-radius: 0;
    margin: 10px 0 15px 0;
  }
  .filter-form .panel .panel-body {
    border-bottom: 1px solid #222;
  }
  .filter-form .btn-filter {
    display: block;
    float: left;
  }
  .filter-form .btn-offer-product {
    display: block;
    float: right;
  }
  @media screen and (min-width: 768px) {
    .filter-form .form-group .col-sm-6 {
      padding-bottom: 15px;
    }
  }
  @media screen and (max-width: 767px) {
    .filter-form .form-group > div {
      padding-bottom: 15px;
    }
  }

/* ItemList Component */
.item-list {
  padding: 15px 0;
}
  .item-list .loading-bar {
    margin-top: 50px;
  }
  .item-list .list-group-item {
    background: rgba(255,255,255,1);
    background: #f05f40;
    overflow: hidden;
    height: 200px;
    margin-bottom: 15px;
    width: 100%;
    padding: 0;
    border-radius: 0;
    transition: background-color 0.2s ease;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item-list .list-group-item:hover {
    background-repeat: no-repeat;
    background-size: cover;
    /*color: #dedede;*/
  }
    .item-list .list-group:hover .wrapper-overlay:hover {
      background: rgba(255,255,255,0.4);
    }
    .item-list .list-group-item .title,
    .item-list .list-group-item .body,
    .item-list .list-group-item .footer {

    }
    .item-list .list-group-item .title {
      margin-top: 0;
      padding: 10px;
      color: #fff;
    }
      .item-list .list-group-item:hover .title {
        /*color: #dedede;*/
      }
      .item-list .list-group-item .title h3 {
        margin-top: 0;
        overflow: hidden;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    .item-list .list-group-item .body {
      margin-top: 0;
      padding: 0 10px;
    }
    .item-list .list-group-item .wrapper-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }
      .item-list .list-group-item .wrapper-overlay span {
        font-size: 5em;
        color: transparent;
        transition: color 0.2s ease;
        line-height: 200px;
      }
      .item-list .list-group-item:hover .wrapper-overlay:hover span {
        color: #fff;
      }
    .item-list .list-group-item .footer {
      position: absolute;
      bottom: 0px;
      padding: 10px;
      font-size: 1.3em;
      width: 100%;
      height: 48px;
      background: #f05f40;
      background: #fff;
      border-bottom: 1px solid #f05f40;
    }
      .item-list .list-group-item .footer span {
        width: 50%;
        display: inline-block;
        white-space: nowrap;
      }

  .item-list .list-group .item {
    padding-right: 15px;
    padding-left: 15px;
    /*border-bottom: 1px solid #222;*/
  }
  @media screen and (min-width: 992px) {
    .item-list .list-group .item:nth-child(3n) {
      padding-right: 15px;
      padding-left: 5px;
    }
    .item-list .list-group .item:nth-child(3n+1) {
      padding-left: 15px;
      padding-right: 5px;
    }
    .item-list .list-group .item:nth-child(3n+2) {
      padding: 0 10px
      /*border: 1px solid #222;
      border-top: none;
      border-bottom: none;*/
    }
  }
/* TopPropositions Component */
.top-offers.item-list {

}
  .top-offers.item-list .list-group-item {
    background: transparent;
    height: auto;
    cursor: default;
  }
  .top-offers.item-list .list-group-item:hover {
    background: transparent;
    color: currentColor;
  }
  .top-offers.item-list .list-group-item .title {
    color: #222;
    text-align: center;

  }
  .top-offers.item-list .list-group-item .body {
    /*background: url('../images/product_item_list_placeholder_bg.jpg');*/
    background-size: cover;
    height: 200px;
    width: 200px;
    background-position: 50% 50%;
    margin: 0 auto;
    border-radius: 50%;

  }
  .top-offers.item-list .list-group-item .footer {
    position: relative;
    background: transparent;
    height: auto;
    border: none;
  }
  .top-offers.item-list .list-group-item .footer span {
    width: 100%;
  }
/* BookingWizard Component */
.booking-wizard {

}
  .booking-wizard .container {
    background: #fff;
    padding-top: 15px;
  }
  .booking-wizard .controls {
    text-align: center;
    padding: 15px 0 50px 0;
  }
.booking-wizard .detail-product .info-bar {
  position: absolute;
  bottom: 42px;
}
.booking-wizard .detail-product .info-bar .profile-picture {
    position: relative;
    top: auto;
    display: inline-block;
}
.booking-wizard .detail-product .info-bar span.name {
    margin-left: 15px;
}
.booking-wizard .detail-product .info-bar span.price {
  color: white;
  border: none;
}
.booking-wizard .detail-product .header {
  height: 200px;
  background: #f05f40;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  background-position: center;
}
  .booking-wizard .detail-product .header h4 {
    font-size: 4em;
    text-align: left;
    line-height: 1;
    margin: 10px;
    padding: 0px 18px 16px 11px;
    display: inline-block;
    background: #f05f40;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  }
.booking-wizard .detail-product .body {
  position: relative;
}
.booking-wizard .detail-product .body div.desc {
  margin-top: 75px;
}
.booking-wizard .detail-product-row {
  background: rgb(249, 249, 249);
}
.booking-wizard .back-row {
  margin-bottom: 15px;
}
.booking-wizard .step-view {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.booking-wizard .step-view.step-1 {
  padding: 15px 0 0 0;
}
.booking-wizard .step-view.step-2 .selected-day {
  font-size: 2em;
}
.booking-wizard .step-view.step-3,
.booking-wizard .step-view.step-4 {
  border: none;
}
.booking-wizard .step-view.step-3 .list-group {
  margin: 0 auto;
  width: 400px;
  margin-bottom: 15px;
}
.booking-wizard .progress {
  margin: 0;
  border-radius: 0;
  height: 10px;
}
.booking-wizard .progress .progress-bar {
  background-color: #f05f40;
}
.booking-wizard .daypicker .DayPicker {
  width: 230px;
  margin: 0 auto;
  float: none;
}
/* DetailProduct Component */
.detail-product {

}
.detail-product .modal-body {
  padding: 0;
}
.detail-product .modal-dialog .modal-header {
  height: 400px;
  background: #f05f40;
  background-repeat: no-repeat;
  background-size: cover;
}
  .detail-product .modal-header h4 {
    font-size: 4em;
    text-align: left;
    line-height: 1;
    padding-left: 10px;
  }
  .detail-product .modal-header .price {
    font-weight: 700;
    font-size: 3em;
    position: absolute;
    top: 325px;
    right: 15px;
    background: #f05f40;
    border-radius: 6px;
    padding: 0 15px;
    color: white;
  }
  .detail-product .info-bar {
    padding: 0 15px;
  }
  .detail-product .info-bar .profile-picture {
    height: 100px;
    width: 100px;
    background: #f05f40;
    background-size: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: -50px;
  }
  .detail-product .info-bar span {
    margin-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #e0e0e0;
    font-size: 1.2em;
    line-height: 50px;
  }
  .detail-product .info-bar span.name {
    margin-left: 110px;
    font-weight: 700;
  }
  .detail-product .info-bar span.category {
    border: none;
  }
  .detail-product .description {
    margin-top: 20px;
    margin-left: 40px;
  }
/* Weather Component */
.weather {
  padding: 15px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.weather .chart {

}
  .weather .chart > div {
    text-align: center;
  }
/* WelcomeWizardModal Component */
.modal-welcome-wizard .modal-body {
  min-height: 599px;
  background: url('../images/welcome_wizard_bg_low.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.modal-welcome-wizard .modal-body-container p {
  padding-top: 30%;
  color: #fff;
  text-align: justify;
  text-align-last: center;
}
@media (max-width: 767px) {
  .modal-welcome-wizard .modal-body {
    /*width: 100%;*/
    /*padding: 0;*/
    /*border-radius: 0;*/
  }
}
/* CreateProduct Component */
.form-create-product {
  max-width: 400px;
  display: block;
  position: relative;
  margin: 0 auto;
}
.form-create-product .form-group.form-themed input,
.form-create-product .form-group.form-themed textarea {
  border-bottom: 1px solid #222;
}
.form-create-product .form-themed .Select--single .Select-control,
.form-create-product .form-themed .Select--multi .Select-control {
  border-bottom: 1px solid #222;
}
.form-create-product .form-themed .Select--single .Select-control input,
.form-create-product .form-themed .Select--multi .Select-control input {
  color: #000!important;
}
.form-create-product .form-themed .Select--single .Select-control .Select-input,
.form-create-product .form-themed .Select--multi .Select-control .Select-input {
  padding: 0;
}
.form-create-product .form-themed .Select--single .Select-control .Select-placeholder,
.form-create-product .form-themed .Select--multi .Select-control .Select-placeholder {
  display: inline-block;
  padding: 0;
  font-size: 1.3em;
  color: #a59999;
}
.form-create-product .form-themed .Select--single .Select-clear-zone,
.form-create-product .form-themed .Select--single .Select-arrow-zone {
  display: none;
}
/* EditProfile Component */
.edit-profile-form {

}
.edit-profile-form .form-group.form-themed input:hover,
.edit-profile-form .form-group.form-themed input:focus,
.edit-profile-form .form-group.form-themed textarea:hover,
.edit-profile-form .form-group.form-themed textarea:focus {
  background: #dedede;
}
.edit-profile-form .choose-picture {
  margin: 0 auto;
  width: 200px;
}
.edit-profile-form .choose-picture {
  width: 200px;
  height: 200px;
  position: relative;
}
.edit-profile-form .choose-picture-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  display: none;
}
.edit-profile-form .choose-picture:hover .choose-picture-btn {
  display: block;
}
/* ProfilePictureEditor Component */
.modal-create-profile-picture {

}
  .modal-create-profile-picture .modal-footer {
    padding-top: 0;
    text-align: center;
  }
  .modal-create-profile-picture .modal-body .row.range-input {
    padding-top: 15px;
  }
/* CreateProduct Component */
.modal-create-product .Select-control {
  color: #000;
}
.modal-create-product .modal-dialog .modal-body {
  padding: 15px 15px 15px 0;
}
/* TransactionList component */
.transaction-list {
  background: transparent;
}
.transaction-list.accepted {
  background: #5cb85c;
}
.transaction-list .container-fluid.item-list {
  padding: 0;
}
.transaction-list .list-group-item .btn-group {
  float: right;
}
.transaction-list .item-list span.list-group-item {
  padding: 10px;
  margin-bottom: 0;
}
.transaction-list .col-lg-12 {
  padding: 0;
}
.transaction-list .item-list span.list-group-item:hover {
  background: rgba(0,0,0,0.05);
}
.transaction-list.accepted .item-list span.list-group-item:hover {
  background: transparent;
}
.transaction-list .item-list .list-group-item span.date {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-right: 10px;
}
  .transaction-list .item-list .list-group-item .declined span.date {
    color: #f05f40;
  }
.transaction-list .item-list .list-group-item span.userName {
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
}
/* LandingPage */
#register {
  background: #222;
}
#register .registration-form-container {
  padding-top: 50px;
  margin-top: 50px;
}

/* BuddyPage */
.buddy-page {

}
.buddy-profile .row {
  margin-top: 5px;
  margin-bottom: 7px;
}
.buddy-page .buddy-profile {
  display: inline-block;
  margin-left: 75px;
  margin-top: 5px;
}

.buddy-picture {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: #f05f40;
  background-size: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
}

/* HomePage */
.homepage {
  background-image: url('../images/header.jpg');
}
  .homepage section.search {
    /*height: 100%;*/
    min-height: 100%;
    padding-bottom: 0;
  }
  .homepage section.search .item-list .list-group-item {
    cursor: pointer;
  }
/* BookingPage */
.booking-page {
  background-image: url('../images/header.jpg');
}
/* ProfilePage */
.profile-page {

}
.profile-page h2 {
  text-align: center;
}
.profile-page section {
  padding-top: 0;
  padding-bottom: 50px;
}
.profile-page section .container {
  background: url('../images/profile_bg.png');
  /*background-repeat: no-repeat;*/
  background-position: center top;
  /*background-size: contain;*/
  padding: 40px 0 0 0;
  margin-top: 90px;
}
.profile-page #controlled-tab .nav-tabs {
  border-bottom: 1px solid #f05f40;
}
  .profile-page #controlled-tab .nav-tabs li {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
  }
  .profile-page #controlled-tab .nav-tabs li.active a,
  .profile-page #controlled-tab .nav-tabs li.active a:hover {
    color: #f05f40;
    background: #fff;
    border: 1px solid #fff;
  }
  .profile-page #controlled-tab .nav-tabs li a:hover {
    border-color: #fff #fff #f05f40;
    background: #fff;
  }
.profile-page .panel.panel-default {
  border-radius: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.profile-page .panel.panel-default .panel-body {
  padding: 0;
}
.profile-page .settings .edit-profile-form .panel .panel {
  padding-top: 15px;
}
.profile-page .tab-list .item-list .list-group-item {
  background: transparent;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: auto;
  margin-bottom: 10px;
}
.profile-page .tab-list .item-list .gradient-overlay {
  min-height: 150px;
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 1%, rgba(255,255,255,1) 65%, rgba(255,255,255,0.53) 100%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 65%,rgba(255,255,255,0.53) 100%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 65%,rgba(255,255,255,0.53) 100%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.profile-page .tab-list .item-list .list-group-item .header {
  background: transparent;
  border: none;
  margin-bottom: 0;
}
.profile-page .tab-list .item-list .list-group-item .header .title {
  padding: 0;
  line-height: 40px;
}
.profile-page .tab-list .item-list .list-group-item .header .title h3 {
  display: inline;
  color: #000;
  line-height: inherit;
  padding-bottom: 0;
  margin-left: 10px;
  vertical-align: middle;
}
.profile-page .tab-list .item-list .list-group-item .body {
  padding: 0;
}
.profile-page .tab-list .item-list .list-group-item .body .category {
  text-transform: uppercase;
}
.profile-page .tab-list .item-list .list-group-item .body .properties span {
  margin-right: 10px;
}
  .profile-page .tab-list .item-list .list-group-item .body .properties span.price,
  .profile-page .tab-list .item-list .list-group-item .body .properties span.buddy {
    padding-left: 10px;
    border-left: solid 1px #dedede;
  }
  .profile-page .tab-list .item-list .list-group-item .body .properties span.buddy {
    font-weight: bold;
    text-transform: uppercase;
  }
.profile-page .tab-list .item-list .list-group-item .body .description {
  margin-top: 5px;
}
.profile-page .tab-list .item-list .list-group-item .footer {
  position: relative;
  bottom: auto;
}
.profile-page .tab-list .item-list .list-group-item .footer.gradient-overlay {
  min-height: auto;
  height: auto;
  padding: 0 0 5px 0;
}
.profile-page .tab-list .item-list .list-group-item .footer.gradient-overlay .col-md-12.warning {
  padding: 0;
}
.profile-page .tab-list .item-list .list-group-item .footer.gradient-overlay .col-md-12.warning span.warning {
  color: #d9534f;
  text-transform: uppercase;
}
.profile-page .tab-list .item-list .list-group-item .header .title .label {
  vertical-align: middle;
}
.profile-page .tab-list .item-list .list-group-item .footer span {
  width: auto;
}
.profile-page .tab-list .item-list .list-group-item .header img {
  width: 100%;
  height: 100%;
}
/* Verified Page */
.verified-page {

}
.verified-page h1 a {
  color: white;
}
@media screen and (max-width: 1199px) {
  .verified-page .col-lg-4 {
    width: 100%;
    margin: 0 auto;
    /*padding: 15px;*/
  }
  .verified-page .login {
    margin-top: 50px;
    padding: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .verified-page .header-content {
    /*padding: 0;*/
    height: 100%;
    width: 100%;
  }
  .verified-page .header-content > .row,
  .verified-page .col-lg-4,
  .verified-page .col-lg-8 {
    height: 100%;
  }
  .verified-page .col-lg-4 {
    background: #f05f40;
    padding-top: 15px;

  }
  .verified-page .col-lg-8 .header-content-inner {
    margin-top: 100px;
  }
  .verified-page .login {
    margin-top: 100px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

/* Custom CSS */
.input-group {
  margin: 20px 0;

}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.weatherItem td:first-of-type {
  height: 200px;
  width: 250px;
}

.notification-element {
    padding-top: 10px;
    margin-right: 15px;
}

/*.login-centered {
  padding-top: 10px;
  margin-right: 30px;
  padding-left: 5px;
}

.login-form-element {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.offerButton {
  display: flex;
  justify-content: center;
  margin: 25px auto;
}

.bgwhite {
  background-color: #fff !important;
}

.ident-top {
  margin-top: 50px;
}
.ident-top-sm{
  padding-top:10px;
}

.navbar-brand {
  font-size:1.8em;
}

#topContainer {
  background-image:url("../images/main_logo_low.jpg");
  max-width:inherit;
  height:700px;
  width:100% !important;
  background-size:cover;
}
#topRow {
  margin-top:100px;
  text-align:center;

}
#topRow h1{
  font-size:300%;
}
.bold {
  font-weight:bold;
}
.marginTop {
  margin-top:30px;
}
.center {
  text-align:center;
}
.title {
  margin-top:100px;
  font-size:300%;
}
#footer {
  background-color:#B0D1FB;
  padding-top:70px;
  width:100%;
}
.marginBottom {
  margin-bottom:30px;
}
.appstoreimg {
  width:250px;
}
.width-fix {
  width:inherit;
}

.panel-body {
height:250px;
}
*/
/* necesary for contained modal component*/
/*.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}*/

.chatList{
  height: 100%;
}
