<h1>Thank You!</h1>

<p>
  For completing registration, please follow the link below to complete your registration.
</p>
<br/>
<hr/>
<p>
  <strong><a href="<%= verifyHref %>">Confirm your email</a></strong>
</p>
<br/>
<p>(c) 2016 - Tym 5 Travel Buddy</p>
